include MANIFEST.in
include README.md setup.py CHANGELOG LICENSE NOTICE

global-exclude *.py[cod]
prune pyscf/lib/build

include pyscf/lib/*.so

# macos dynamic libraries
include pyscf/lib/*.dylib

# source code
prune pyscf/lib/build
recursive-include pyscf/lib *.c *.h CMakeLists.txt
