name: CI

#FIXME: workflow dependency not working on non-default branch?
#on:
#  workflow_run:
#    workflows:
#      - Lint
#    types:
#      - completed
on:
  - push
  - pull_request

jobs:
  linux-build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.10","3.12"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install
        run: ./.github/workflows/run_ci.sh
      - name: Test with pytest
        run: ./.github/workflows/test.sh
